root{
    /* COLORES LOGO */
    --primary-color: #c3f4fe;
    --secondary-color: #00051a;
    --tertiary-color: #ff2e60;
    --quaternary-color: #1ce2ec;
    --quinary-color: #079fff;
    --senary-color: #99cef2;

    /* COLORES INTERFACE YOUTUBE */
}